@import "../../../sass/mixins";

.container{
  @include flex-row-between-start;
  @media screen and (max-width:640px){
    @include flex-col-start-center;
    width: 100%;
    padding: 0 15px;
  }
  .logoArea{
    @include flex-col-start-start;
    h6{
      margin-bottom: 5px;
      font-size: 19px;
      line-height: 26px;
      padding-left: 10px;
    }
  }
}