@mixin flex-row-center-center{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin flex-row-start-center{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

@mixin flex-row-center-start{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

@mixin flex-row-center-end{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

@mixin flex-row-start-end{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

@mixin flex-row-start-start{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

@mixin flex-row-between-start{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

@mixin flex-row-between-end{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

@mixin flex-row-end-center{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

@mixin flex-row-between-center{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-row-around-center{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@mixin flex-col-center-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-col-start-center{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@mixin flex-col-center-start{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@mixin flex-col-between-start{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

@mixin flex-col-between-center{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-col-around-start{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

@mixin flex-col-around-center{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@mixin flex-col-start-start{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@mixin flex-row-around-start{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

@mixin multiLine($lineHeight: 1.2em, $lineCount: 1, $bgColor: white){
  overflow: hidden;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount;
  width: 100%;
  margin-top: 20px;
  @media screen and (max-width: 414px){
    margin-top: 10px;
  }
}
